
/* body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: lightgray;
  }

  .jumbotron {

    background-color: black;

  }


  img {
    border: solid black 5px;
    border-radius: 15px;
  }


  main{
    background-color: lightgray;
    margin-top: 20px;
    padding-top: 10px;
    border-radius: 5%;
    box-shadow: inset 0 0 100px darkslategray;
  }
  main:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }
  @keyframes background-color {
    100% {
      background-color: #4791d0;
    }
  }


  /* header {
    position: relative;
    background-color: black;
    background-image: url(images/backgrounds/subtle_brown_mini_waves.jpg);
    border: solid;
    border-radius: 10px;
    box-shadow: 0 0 60px black;
  } */

  /* header:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards; 
  }
  @keyframes background-color {
    100% {
      background-color: #4791d0;
    }
  } */

  /* .logo {
    font-family: cursive, 'Nanum Pen Script';
    font-size: 72px;
    color: #c5c0b8;
    text-align: center;
    letter-spacing: -3;
    margin: 0;
    padding: 20px 0 0 0;
  } */

   /* ---  Navigation --- */

  /* header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
    header nav ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  } */
  
  /* header nav ul li {
    list-style-type: none;
  }
  
  header nav ul li a {
    color: lightgrey;
    text-decoration: none;
    padding: 0 20px 0 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    border: solid lightslategrey;
    border-radius: 15px;
  }
  
  header nav ul li a:hover {
    color:grey;
  }

  @media all and (min-width: 700px) {
    header {
      display: flex;
      justify-content:space-around:
    }
  
    .logo {
      position: relative;
      margin: 14px 0px 14px 100px;
      padding-top: 0;
      font-size: 50px;
    }
    
     header nav{
      margin-top: 14px;
      margin-right: 20px;
      margin-left: 20px;
    }
     header nav ul li a {
      padding: 0 40px 0 40px;
    }
  }

    /* ---  (Desktop) Groups & Items --- */
  
    @media all and (min-width: 800px) {
        section {
          padding: 0 10%;
        }
        .group {
          flex-direction: row;
        }
         header nav ul li a {
          padding: 0 40px 0 40px;
        }
      }
      
       /* ---  Typography --- */
  
  h1 {
    font-size: 28px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    color: #403933;
  }
  
  h2 {
    font-size: 26px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
  }
  
  h3 {
    font-size: 18px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
  }
 
  p {
   font-family: 'Montserrat', sans-serif;
   line-height: 1.5em;
   margin-bottom: 0;
  }
  
  main a {
      font-weight: 700;
      text-decoration: none;	
  }
  
  main  a:link { color:black; }
  main  a:visited { color:purple; }
  main  a:hover { color:goldenrod; }
  a:active { color: purple; }
  
  
  a:hover {
      text-decoration: underline;	
  }
  
  footer p {
    color: lightslategray;
    text-align: center;
    padding: 20px;
  }
  
  
  main img {
    width: 70%;
  }
  
  img.image-enhanced {
    border-radius: 8px;
  }
  
  .group {
    display: flex;
    flex-direction: row;
  }
  .group1 {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .item {
    flex: 1;
    margin: 10px;
  }
  
  .item-double {
    flex: 1;
    margin: 100px;
  }
  .skill {
    text-align: left;
    font-size: medium;
  }

  section.dark-background {   
    background-color: #c5c0b8;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 80px 0;
    border-radius: 25%;
  }
  section.dark-background :hover {
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards; 
  }
  @keyframes background-color {
    100% {
      background-color: #4791d0;
    }
  }
  
  footer {
    background-color: darkslategray;
    background-image: url(images/backgrounds/subtle_brown_mini_waves.jpg);
    margin-top: 40px;
    margin-bottom: 0;
    color: lightslategray;
  } */ */