 @import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');
 :root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(255, 244, 244, 0.699);
  --max-width: 1170px;
  --fixed-width: 620px;
}
 body {
    margin: 0;
    font-family: cursive;
    background-color: gray;
      line-height: 1.5;
  font-size: 0.875rem;
 }
 main{
    background-color: gray;
 }

 nav {
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.logo {
  box-shadow: var(--dark-shadow);
  text-shadow: 1px 1px bisque;
  padding-right: 10px;
  padding-left: 10px;
}
  /* .head1{
    background-color: grey;    
  } */
  .certificate{
     font-family: cursive;
      box-shadow: var(--dark-shadow);
      text-align: center;
  }

 img {
    border: solid whitesmoke 5px;
    transition: 5s ease-in;
    border-radius: 15px;
    box-shadow:0 5px 15px #c59d5f;
 }
 h1, h2, h4, h5 {
     color: white;
      letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
        box-shadow: var(--dark-shadow);
 }
 .container1{
    padding-top: 100px;
 }
 p, li{
    font-family: monospace;
    /* color:slategray; */
    font-size: 1.25rem;
    text-shadow: 1px  whitesmoke;
    margin-bottom: 1.25rem;
    color: var(--clr-grey-7);
 }
.label{
   color: #fff;
   font-size: 1.28rem;
   margin-top: 30px;
   margin-bottom: 20px;
   padding-right: 5px;
    transition: 5s ease-in;
}
.darkn{
    box-shadow: var(--dark-shadow);
}
.darkk{
   box-shadow: 0 5px 15px rgb(66, 35, 35);
}
 li:hover {
      color: aquamarine;
  }
  p:hover {
      color: aquamarine;
  }

a {
   color: whitesmoke;
   font-family: fantasy;

}
.pbutton{
   font-family: cursive;
   color: whitesmoke;
   font-size: 1.50rem; 
   padding:10px
}
.projdiv{
      margin-top: 100px;
}